@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box
}

body {
  margin: 0;
}

a {
  color: #777;
  text-decoration: none;
}

.header {
  width: 80%;
}

.para1 p{
    font-family: Montserrat;
    margin-top: 81px;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #3586ff
}


@media only screen and (min-width:1200px) {
  .container {
    width: 1160px;
    width: 80%;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }

}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #fff;
  position: fixed;
  top: -14px;
  width: 100%;
  z-index: 3;
  margin-left: 00%;
  margin-right: 00%;
  padding: 17px 0;
  box-shadow: 0.1px -9.9px 25px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 114px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  /* color: #ffd300; */
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  padding-left: 8px;
  position: absolute;
  top: 22px;
  left: 60px;
  filter: invert(1);
  cursor: pointer;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: relative;
  right: 80px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* footer  */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 100px;
    background: rgba(255, 255, 255, 0.467);
    margin-top: auto;
    box-shadow: 0.1px 11.1px 25px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 47px;
}

footer .container h2{
    position: relative;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

footer .container p{
    color: #000;
}

footer .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4 , 50px);
    font-size: 2em;
    grid-gap: 10px;
}

footer .sci li{
    list-style: none;
}

footer .sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #5569ce;
    border-radius: 7px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

footer .sci li a:hover{
    background: transparent;
    color: #000;
    transform: translateY(-7px);
}

.quicklinks{
    position: relative;
}

.quicklinks li{
    list-style: none;
}

.quicklinks li a{
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.3s;
}

.quicklinks li a:hover{
    color: #3586ff;
    transform: translateX(10px);
    font-weight: 600;
}

.quicklinks li a{
    position: relative;
    width: 100%;
}

.contact{
    list-style: none;
}

.contact .info{
    position: relative;
}

.contact li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.contact li span:nth-child(1){
    color: #000;
    font-size: 31px;
}

.contact li span{
    color: #000;
}

.contact li .ecell{
    margin-left: 20px;
}

.contact a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}

.contact li a:hover{
    color: #3586ff;
    transform: translateX(10px);
}

.contact li p:hover{
    transition: 0.3s;
    transform: translateX(10px);
}

.copyright{
    width: 100%;
    background: #1f3389;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
    margin-top: 0px;
}

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

@media(max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .copyright{
        padding: 8px 40px;
    }
}

@media(max-width:768px){
    footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}

